#firstParagraph{
               color:red;
               font-size:20px;
               }
.red{
     color:red;
     }
.blue{
     color:blue;
     }
.purple{
      color:purple;
       }
.bigFont{
        font-size:22px;
       }
.smallFont{
        font-size:10px;
        color:green;
         }